<h1>Topics  
<% if policy(Topic).create? %>
<%= link_to "New Topic", new_topic_path, class: 'btn btn-success' %>
<% end %>
</h1>

<div class="row">
  <div class="col-lg-12">
    <%= will_paginate @topics, renderer: BootstrapPagination::Rails %>
    <% @topics.each do |topic| %>
      <div class="media">
        <div class="media-body">
          <h3><%= link_to "#{topic.title}", topic %></h3>
          <h5 class="media-heading">
              <br>
              <br>
              <% topic.bookmarks.each do |bookmark| %>
              <div class="tilt">
                <%= link_to image_tag(bookmark.thumbnail_url, :width => 170, :height => 170), bookmark.url, :target => '_blank' %><br>
                <%= truncate(bookmark.title, :length => 30) %><br>
                <%= link_to truncate(bookmark.url, :length => 20), bookmark.url, :target => '_blank' %><br>
                <br>
                </div>
              <% end %>
          </h5>
        </div>
      </div>
    <% end %>
    <%= will_paginate @topics, renderer: BootstrapPagination::Rails %>
</div>